$main-blue: #0C9EEF;
$main-green: #98cd5e;
$text-color: #5B6675;
$text-color-lighter: #7A8696;
$text-color-strikethrough: #c6cbd3;
$hr-color: #CDD7E4;
$background-primary: #FFF;
$background-secondary: #EEF1F5;
$input-border-color: #AEBCCE;