@import "../../../assets/css/colors";
@import "../../../assets/css/breakpoints";

$offset: 187;
$duration: 1.4s;

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
  0% { stroke: $main-blue; }
  25% { stroke: $main-blue; }
  50% { stroke: $main-blue; }
  75% { stroke: $main-blue; }
  100% { stroke: $main-blue; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}

.spinner {
  display: none;

  circle {
    fill: none;
  }

  &.active {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .5);
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    svg {

      width: 65px;
      height: 65px;
      viewBox: 0 0 66 66;
      xmlns: "http://www.w3.org/2000/svg";
      position: fixed;
      z-index: 12;
      top: 50%;
      left: 50%;
      animation: rotator $duration linear infinite;

      circle {
        position: fixed;
        z-index: 12;
        top: 50%;
        left: 50%;
        stroke-width: 5;
        cx: 33;
        cy: 33;
        r: 30;
        fill: none;
        stroke-linecap: round;
        stroke-dasharray: $offset;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation:
          dash $duration ease-in-out infinite,
          colors ($duration*4) ease-in-out infinite;
      }
    }
  }
}