.center {
  text-align: center;
}

.checkedItem {
  text-decoration: line-through;
}

.rightIconButton {
  top: 10px;
  z-index: 10;
}

.iconNoItems {
  height: 60px;
  width: 60px;
  color: rgba(0, 0, 0, 0.4);
}
